import React from 'react';
{{#if withStyle}}
import Style from './{{pascalCase name}}.style';
{{/if}}
import { {{pascalCase name}}Props } from './{{pascalCase name}}.const';

const {{pascalCase name}}: React.FC<React.PropsWithChildren<{{pascalCase name}}Props>> = (props) => {
  return (
    {{#if withStyle}}
    <Style.Container>
      {{pascalCase name}}
    </Style.Container>
    {{else}}
    <div>
      {{pascalCase name}}
    </div>
    {{/if}}
  );
};

{{#if withMobx}}
connect('{{ storeName}}')({{pascalCase name}});
{{/if }}

export default {{pascalCase name}};
